<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Love2Cook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="site-header">
    <nav>
      <div class="nav-wrapper black">
        <a href="#!" class="left brand-logo">Love 2 Cook: Asian Recipes</a>
        <ul class="right">
          <li><a class="btn-large #2196f3 blue">New Recipe</a></li>
          <li><a class="btn #2196f3 blue">Sign In</a></li>
          <li><a class="btn #2196f3 blue">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {{{ body }}}
  </main>
</body>

</html>