<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>ShaRecipes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css">
  {{!-- <link rel="shortcut icon" href="images/favicon.png" type="image/png"> --}}
</head>

<body>
  <header class="site-header">
    <nav>
      <div class="nav-wrapper #0d47a1 blue darken-4">
        <a href="/" class="left brand-logo" id="title">Sharecipes</a>
        <ul class="right">
          <li><strong><a class="btn-large #ff3d00 deep-orange accent-3" href="/recipes/new">New Recipe</a></li></strong>
          <li><a class="btn #1565c0 blue" href="#">Sign In</a></li>
          <li><a class="btn #1565c0 blue" href="#">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {{{ body }}}
  </main>
</body>

</html>