<h1>SignUp</h1>

<form action="/user/signup" method="POST" class="auth-form">
    <p class="input-field">
        <input type="text" name="email" placeholder="User Name">
    </p>

    <p class="input-field">
        <input type="password" name="password" placeholder="Password">
    </p>

    <p class="input-field">
        <input type="submit" value="Sign Up" class="btn waves-effect waves-light">
    </p>
</form>