body {
  background-image: url('../images/2.jpg');
  background-size: 100%;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 1200px; */
}

.headings {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#title {
font-size: 45px;
font-weight: bold;
margin-left: 15px;
}

#newrecipe {
  color: white;
  background-color: #ff3d00;
  /* display: inline-block; */
  border-radius: 5px;
}

h4 {
  text-align: center;
}