<section class="form-container">
  <h4>Update Recipe</h4>
  <form action="/recipes/{{ id }}?_method=put" method="POST">

    <div class="input-field col s6">
      <h6>Name</h6>
        <input type="text" name="title">
    </div>

    <div class="input-field">
      <h6>Ingredients</h6>
      <textarea name="ingredients" cols="20" rows="50" placeholder=""></textarea>
    </div>

    <div class="input-field">
      <h6>Instructions</h6>
      <textarea name="instructions" cols="20" rows="50" placeholder=""></textarea>
    </div>


    <div class="input-field">
      <input type="submit" value="Update" class="btn">
    </div>
  </form>
</section>