<section class="form-container">
  <h4>Edit Recipe</h4>
  <br>
  <form action="/recipes/{{ id }}?_method=PUT" method="POST">
    <div>
      <label class="headings" for="name">Name of Recipe: </label>
      <input type="text" value="{{title}}" name="title">
    </div>

    <div>
      <label class="headings" for="ingredients">Ingredients: </label>
      <input type="text" value="{{ingredients}}" name='ingredients'>
    </div>

    <div>
      <label class="headings" for="instructions">Instructions: </label>
      <input type="text" value="{{instructions}}" name='instructions'>
    </div>
    
    <input type="submit" value="Update" class="btn #2196f3 blue">
    <input type="submit" value="Delete" class="btn red">

  </form>
</section>

{{!-- <div class="input-field">
  <h6>Instructions</h6>
  <textarea name="instructions"></textarea>
</div> --}}

{{!-- <div class="input-field">
  <h6>Name</h6>
  <input type="text" name="title">
</div> --}}