<section class="form-container">
  <h4 id="newrecipe">New Recipe</h4>
  <br>
  <form action="/recipes" method="POST">

    <div>
      <label class="headings" for="name">Name of Recipe:</label>
      <input type="text" name="title">
    </div>

    <div>
      <label class="headings" for="ingredients">Ingredients: </label>
      <textarea name="ingredients" class="materialize-textarea">{{ingredients}}</textarea>
    </div>

    <div>
      <label class="headings" for="ingredients">Instructions: </label>
      <textarea name="instructions" class="materialize-textarea">{{instructions}}</textarea>
    </div>

    <div class="input-field">
      <input type="submit" value="Submit" class="btn #2196f3 blue">
    </div>
  </form>
</section>

{{!-- <div class="">
  <select name="author" id="author">
    <option value="" disabled selected>Choose the User</option>
    {{#each users}}
    <option value="{{id}}">{{local.email}}</option>
    {{/each}}
  </select>
</div> --}}